*{margin: 0;padding: 0;}
.bg00{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg01{background-image: url(img/bg1.png);}
.bg02{background-image: url(img/bg2.png);}
.bg03{background-image: url(img/bg3.png);}
.bg04{background-image: url(img/bg4.png);}

.cont00{}
.cont01{width: 1459px; height: 1062px;background-image: url(img/bg1-1.png);}
.cont02{width: 1658.27px; height: 1025px;background-image: url(img/cont2.png);} 
.cont03{width: 1662px; height: 849px; background-image: url(img/cont3.png);}
.cont04{width: 809px;height: 992px;background-image: url(img/cont4.png);}